In [1]:
#tuple - это неизменяемый набор данных в отличие от списка (tuple также называется кортежем ), 
#они не именованны, обращение по индексу
person = ('John', 'Smith', 27)
type(person)

tuple

In [2]:
#при попытке заменить элемент по индексу будет возникать ошибка о невозможности данного действия
#это и не хорошо, и не плохо, это данность
#применяются чуть ли не все функции к нему, все как со списками
print(len(person))

3

In [3]:
print(person[1])

Smith

In [4]:
#а вот списки
person_2 = ['Kesha', ' The Popugai', 3]
person_2[2] = 4
print(person_2)
#возраст Кеши изменился, в tuple такое невозможно, еще раз

['Kesha', ' The Popugai', 4]

In [5]:
person.count('John')

1

In [6]:
person.index('Smith')
#на каком индексе находится Фамилия

1

In [8]:
#namedTuple - представляет собой тапл, 
#он не изменяем, но в дополнение дает возможность проименовать элементы, которые он содержит
#пример внизу - обычный тапл
players = [("Alex", 1993, 65000), ("Alena", 1994, 55000), ("Boris", 1992, 54000)]
players[0]

('Alex', 1993, 65000)

In [9]:
from collections import namedtuple

In [11]:
Player = namedtuple("Player", "name year salary")
Players = [Player("Alex", 1993, 65000), Player("Alena", 1994, 55000), Player("Boris", 1992, 54000)]

In [12]:
#выбор по индексу
Players[1]

Player(name='Alena', year=1994, salary=55000)

In [13]:
#выбор по индексу и конкретному атрибуту
#тут типа получается класс Player с атрибутами, которые не могут быть изменены
Players[1].salary

55000

In [14]:
#с этим можно работать как с классом, позволяет сократить написываемый текст, но в нем нет методов, просто является контейнером
#данных, которые не могут быть изменены
p1 = Player("Kesha", 1964, 120)
print(p1.name)
print(p1.year)
print(p1.salary)

Kesha
1964
120

In [1]:
#Класс является шаблоном или формальным описанием объекта, а объект представляет экземпляр этого класса, его реальное воплощение. 
#Можно провести следующую аналогию: у всех у нас есть некоторое представление о человеке - наличие двух рук, двух ног, 
#головы, пищеварительной, нервной системы, головного мозга и т.д. Есть некоторый шаблон - этот шаблон можно назвать классом. 
#Реально же существующий человек (фактически экземпляр данного класса) является объектом этого класса.

In [4]:
#такое красиво работает только с одним тюплом, если будет список - то работает иначе
user = ("Alex", 27, "Male")
user = name, age, sex
print(name)
print(age)
print(sex)

Alex
27
Male

In [15]:
#вот так, он из списка тюплов присваивает первый тюпл к имени, второй к возрасту и тд, а не распаковывает их как в пред. примере
#то же самое, если у нас будет слишком много или мало переменных типа имени, пола, возраста
users = [("Alex", 27, "Male"), ("Kesha", 26, "Male"), ("Boris", 27, "Male")]
name, age, sex = users
print(name)
print(age)
print(sex)
#тут он каждый отдельный тапл пихает и с возрастом, и с полом в только либо имя, либо пол

('Alex', 27, 'Male')
('Kesha', 26, 'Male')
('Boris', 27, 'Male')

In [1]:
#но есть вариант, как при работе с одним тюплом избежать перебора
user = ("Alex", 27, "Male", "Music", "Russia")
name, age, sex, *other = user
print(name)
print(age)
print(sex)
print(other)
print(type(other))

Alex
27
Male
['Music', 'Russia']
<class 'list'>

Alex
27
Male

In [2]:
#ВАЖНО
from collections import namedtuple
car = namedtuple('car', 'model price color')
cars = [car("Tesla", 19000, "yellow"), car("Wolga", 9000, "Grey"), car("WAZ", 5000, "Red")]

for x, y, z in cars:
    print(x)

Tesla
Wolga
WAZ

In [2]:
def get_user():
    name = "Alex"
    age = 27
    city = "Str"
    return name, age, city
user = get_user()
print(user[0])
print(user[1])
print(user[2])

Alex
27
Str

In [8]:
#перебор элементов
#можно это делать через for, можно и так:
user = ("Alex", 27, "Str")
i = 0

while i < len(user):
    print(user[i])
    i += 1

Alex
27
Str

In [10]:
user = ("Alex", 27, "Str")
name = "Alex"
if name in user:
    print("ok")
else:
    print("not ok")

ok