In [3]:
#взятие числа по модулю, то есть -6 будет 6, 5 будет 5, отсекается минус
abs(-1)

1

In [4]:
#наибольшее и наименьшее
max(12,50,30,40)

50

In [5]:
min([50,1,0,-1])
#можно дедать это и передавая список

-1

In [6]:
#возведение в степень. первый аргумент - что, второй - степень
pow(2, 4)

16

In [9]:
#округление - первый аргумент - число, второй - сколько знаков после запятой оставить, работает именно математически
round(3.372342323, 1)

3.4

In [10]:
#суммирование делается только если передается список
sum([1,5,9,4,2,3])

24

In [11]:
#преобразование в другие системы счисления
a = hex(42)
b = oct(42)
c = bin(42)
print(a)
print(b)
print(c)
#в данных системах есть свои префиксы, это 0x для 16-тиричной, 0о для восьми и 0b для двоичной

0x2a
0o52
0b101010

In [12]:
#далее другие функкции
#функция all - она выдает булиево значение True или False в зависимости оттого, все ли ее переменные вычисляются в True или нет
#если есть хотя бы одно значение, которое не True, то all выдает False
a1 = all([True, True])
a2 = all([True, True, False])
print(a1)
print(a2)

True
False

In [3]:
 #где полезно: например, нам надо проверить, все ли игроки имеют рейтинг более 2800, создаем список таплов
players = [("Boris", 2900), ("Kesha", 2850), ("Gora", 2810), ("Chloya", 2790), ("Azis", 2780)]
#для этого берем функцию all и тапл анпекинг,
all(rating > 2800 for _, rating in players)
#здесь в левом выражении название переменной просто нижнее подчеркивание, потому что оно нас не интересует, но можно и написать
#а второй переменной присвоили имя rating
#кроме того выражение в круглых скобках можно обернуть в квадратные all([rating > 2800 for _, rating in players])
#он также будет всё это вычислять, но у них есть разница:
#в первом случае функция, доходя до первого False, прерывает цикл, потому что нет смысла идти дальше, выражение итак False
#а во втором случае функция сначала проверит все элементы списка, а уже потом передаст из функции

False

In [4]:
#есть функция any, она требует, чтобы хотя бы одно выражение было True, тогда она вернет True, а если таковых нет, вернет False
players = [("Boris", 2901), ("Kesha", 2850), ("Gora", 2810), ("Chloya", 2790), ("Azis", 2780)]
any(rating > 2900 for _, rating in players)

True

In [5]:
players = [("Boris", 2899), ("Kesha", 2850), ("Gora", 2810), ("Chloya", 2790), ("Azis", 2780)]
any(rating > 2900 for _, rating in players)
#вот два примера

False

In [6]:
#далее функция склеивания zip, ее суть в том, что она сожет склеить типы данных, но ее надо явно вызвать через цикл или список
#до тех пор она будет находиться где-то как-то,хрен пойми, 
a = "abcd"
b = (10, 20, 30)
zipped = zip(a, b)
print(zipped)
zipped_file = list(zipped)
print(zipped_file)
#как видим, зип объект находится хз где, а стоило переделать его в список, то сразу отобразился
#кроме того объект, которому не хватило пары, пропал, возвращает список таплов

<zip object at 0x0000000004E8B100>
[('a', 10), ('b', 20), ('c', 30)]

In [7]:
a = "abcd"
b = (10, 20, 30)
c = ("gora", "reka", "more", "svet", "ogon")
zipped = zip(a, b, c)
zipped_file = list(zipped)
print(zipped_file)

[('a', 10, 'gora'), ('b', 20, 'reka'), ('c', 30, 'more')]

In [11]:
#полезно при формировании словаря
a = ["Alex", "Boris", "Kesha"]
b = (10, 20, 30)
zipped_file = dict(zip(a, b))
print(zipped_file)

{'Alex': 10, 'Boris': 20, 'Kesha': 30}

In [ ]:
#функция input

In [15]:
#а еще можно узнать, какой номер в таблице юникода у символа и наоборот
symbol = ord('#')
print(symbol)
symbol1 = chr(35)
print(symbol1)
symbol2 = chr(symbol)
print(symbol2)

35
#
#

In [14]:
from collections import namedtuple

player = namedtuple('player', 'name rating')
players = [player("Boris", 2901), player("Kesha", 2850), player("Gora", 2810), player("Chloya", 2790), player("Azis", 2780)]
print(players[0].name)

Boris

In [16]:
person = ('Alex', 27, 1993, 'Str', 'Metal')
name, age, year, city, music = person
print(name)

Alex

In [28]:
car = namedtuple('car', 'model price color')
cars = [car("Tesla", 19000, "yellow"), car("Wolga", 9000, "Grey"), car("WAZ", 5000, "Red")]

for x, y, z in cars:
    print(x)

Tesla
Wolga
WAZ

In [19]:
a = int(input())
b = int(input())
if a < b:
    for i in range(a, b + 1):
        print(i)
else:
    for i in range(a, b - 1, -1):
        print(i)

10
1
10
9
8
7
6
5
4
3
2
1

In [6]:
c = range(1, 5)
print(list(reversed(c)))

[4, 3, 2, 1]

In [28]:
A = int(input())
B = int(input())
for x in range(A, B -1, -1):
    print(x)

7
1
7
6
5
4
3
2
1

In [39]:
A = int(input())
B = int(input())
for i in range(A, B - 1, -1):
    print(i if i %2 != 0 else '')

10
1

9

7

5

3

1

In [40]:
A = int(input())
B = int(input())
for i in range(A, B - 1, -1):
    if i % 2 != 0:
        print(i)

10
1
9
7
5
3
1

In [41]:
A = int(input())
B = int(input())
for i in range(A, B - 1, -1):
    print(i if i %2 != 0 else)

SyntaxError: invalid syntax (<ipython-input-41-92e0b8385090>, line 4)

In [49]:
a = int(input())
b = int(input())
c = sum([x for x in range(a, b+1)])
print(c)

1
1
1

In [62]:
summa = 0
for x in range(0, 10):
    number = int(input())
    summa += number
print(summa)

1
2
5
4
8
6
5
7
8
9
55